In [1]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
fileName = 'analytics.json'
df = pd.read_json(fileName)

In [3]:
df.describe()

,2018-03-19 12:01:32.445000,2018-03-19 12:01:59.154000,2018-03-19 12:02:12.783000,2018-03-19 12:02:19.763000,2018-03-19 12:02:23.775000,2018-03-19 12:02:29.266000,2018-03-19 12:02:34.023000,2018-03-19 12:02:38.187000
count,8,8,8,8,8,8,8,8
unique,8,8,8,8,8,8,8,8
top,l,1521460919154,1521460932783,l,1521460943775,l,l,l
freq,1,1,1,1,1,1,1,1

In [15]:
windows = {}

for utc in df:
    d = df[utc]
    if d['w'] in windows:
        windows[d['w']] += 1
    else:
        windows[d['w']] = 1

In [16]:
windows

{'l': 8}

In [10]:
'a' in o

True